body {
	background-image: url('../images/forrest_cabin_dark.jpg');
	background-position: center right;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

a {
	text-decoration: none;
	color: #46f;
}

section {
	font-family: 'Roboto', Sans-serif;
	
	padding-left: 1em;
	padding-right: 1em;
	max-width: 40em;
	margin: 0 auto;
}

header, footer {
//	background-color: #222;
//	background-color: rgba(40,42,40,0.85);
}

header {
	padding: 7em 0;
}

header h1 {
	font-weight: 100;
	font-size: 2em;
	line-height: 1.4em;
	text-align: left;
	color: #ddd;
	display: block;
}

header span {
	color: #4c4;	
}

main {
	background-color: #fff;
	border-top: 3em solid #fff;
	border-bottom: 3em solid #fff;
}

main section {
	padding: 2.5em 0 0 0;
	
}

main section h2 {
	font-family: 'Roboto', Serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 2.5em;
	text-transform: uppercase;
	color: #777;
}

main section p, main section li {
	font-family: 'Roboto', Sans-serif;
	font-weight: 400;
	font-size: 1.25em;
	line-height: 2em;
	color: #333;
}

main section p {
	margin-bottom: 1em;
}

main section ul {
	padding: 0 0 0 1em;

}

main section li:before {
	content: "\25E6";
	padding-right: 0.5em;
	color: #bbb;
}

main span.label {
	color: #777;
}

main span.label:before {
	content: "\00a0\2014\00a0\00a0";
}


footer {
	padding: 2em 0;
}

#copyright {
	text-align: center;
	line-height: 2em;
}

#copyright h3, #copyright p {
	font-weight: 300;
	font-size: 1.2em;
	color: #888;
}

#copyright a {
	color: #bbb;
}




